################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiIdentityEndpoint/FileContentIndex/b8e0bae5-408c-4e77-80be-d7a098f7e448.vsidx
/.vs/ApiIdentityEndpoint/FileContentIndex/a380bde1-ca1b-4231-8971-992f6b9e5d8e.vsidx
/.vs/ApiIdentityEndpoint/FileContentIndex/4e06187b-8034-4da2-ba5b-a365eaecd17f.vsidx
/.vs/ApiIdentityEndpoint/FileContentIndex
/ApiIdentityEndpoint/bin/Debug/net8.0
